    <footer class="bg-gray-800 text-white py-8 lg:py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid md:grid-cols-3 gap-8">
                <div class="text-center text-white">
                    <p>&copy; 2025 DoctorSync. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
