<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/users.css">
</head>

<body class="bg-gray-100 min-h-screen font-sans antialiased">
  <%- include('doc/nav') -%>
      <div id="main-content" class="space-y-12" style="margin-left: 100px;">
        <section class="bg-white shadow-lg rounded-lg p-6">
          <h2>Hello Welcome to DoctorSync</h2>
          <p>Thanks for Choosing Us</p>

          <!-- <h3>Please <a href="/auth/login/addPat">Add Patient </a> Before adding Medical Record or Creating ant prescription</h3> -->

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eum officia eius officiis hic iste ea id vero recusandae veritatis?</p>
        </section>
      </div>

    </main>
  </div>
  
  <script src="/javascripts/doctorHelp.js"></script>

</body>
</html>
